{{- if .IsPage -}}
{{- $author := dict "@type" "Person" "name" .Site.Title -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "url" .Permalink "author" $author -}}
{{- if not .Date.IsZero -}}{{- $schema = merge $schema (dict "datePublished" (.Date.Format "2006-01-02")) -}}{{- end -}}
{{- if not .Lastmod.IsZero -}}{{- $schema = merge $schema (dict "dateModified" (.Lastmod.Format "2006-01-02")) -}}{{- end -}}
{{- with .Params.image -}}{{- $schema = merge $schema (dict "image" (. | absURL)) -}}{{- end -}}
<script type="application/ld+json">{{- $schema | jsonify | safeJS -}}</script>
{{- end -}}
